.section__one {
    width: 90%;
    margin: 0 auto;
    
}

.container__section_one{
    width: 100%;
}

.form__payment_process {
    width: 100%;
    display: block;
}



.banner {
    height: 50px;
    width: 100%;
    background-color: #184A2C;
}

.form__payment_process > .row__one  {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 50px -29px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
    margin-bottom: 30px;
}

.form__payment_process > .row__three  {
    color: rgb(20, 107, 62);
    border-radius: 8px;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 30px;
    background: rgb(233, 255, 243);
}


.form__payment_process > .row__three > div .title  {
    font-weight: 600;
    color: rgb(20, 107, 62);
    font-size: 1.25rem;
}



.form__payment_process > .row__three > div > .text {

}






.form__payment_process > .row__one > .image__car {
    width: 150px;
    height: 80px;
    background-position: center;
    background-size: cover;
    background-image: url('../../assets/images_cards/minibus.webp');
}


.form__payment_process > .row__one > .purchase__content > .price__container  {

}

.form__payment_process > .row__one > .purchase__content > .price__container > .price_text {
    font-size: 1rem;
  
} 

.form__payment_process > .row__one > .purchase__content > .price__container > .price {
    font-size: 1.5rem;
    color: #FF5722;
} 



.form__payment_process > .row__two {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 20px;
    margin: 20px 0;
    
}

.form__payment_process > .row__two .left {
    
}

.form__payment_process .container__left_one {
    box-shadow: 0px 0px 50px -29px rgba(0,0,0,0.1);
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    border-radius: 10px;
    padding: 20px; 
    
} 





/*///////////////////////////////////////////////////// PAY /////////////////////////////////////////////////////////////////*/





.container__left_two {
    box-shadow: 0px 0px 50px -29px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    height: 200px;
    margin: 20px 0;
    padding: 20px;
}

.btn__paypal {
    background-color: #253B80;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.btn__deposit {
    background-color: #ED5A32;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.btn__cash {
    background-color: #184A2C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.conatiner__img_pays {
    display: flex;
}

.form__payment_process .row__two .right {
    
}

.conatiner__dates {
    display: flex;
    justify-content: space-between;
}

.conatiner__dates  > p {
    padding: 5px;
    background-color: #184A2C;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;
}

.container__img_reservation {
    width: 100%;
    padding: 10px;
    background-color: #184A2C;
}

.container__img_reservation .img__map {
    width: 100%;
}

.container__img_reservation .img__map img {
    width: 100%;
}




@media screen and (max-width: 768px) {

    .form__payment_process > .row__two {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        margin: 0;
        
    }

    .form__payment_process > .row__two .left {
       
    }

    .form__payment_process > .row__two .right {
        display: none;
    }

    .form__payment_process .container__left_one {
        box-shadow: 0px 0px 50px -29px rgba(0,0,0,0.1);
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        border-radius: 10px;
        padding: 20px; 
        
    } 
    

}
